@{ 
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<table style="width:100%">
    <tr>
        <td width="50%" style="color:brown">
            <b style="color:aqua">Last Accessed Date & Time: </b>@Convert.ToDateTime(Session["LastAccessedDateTime"]).ToString("dddd, dd MMM yyyy hh:mm:ss tt")
        </td>
        <td width="50%" align="right">
            @Html.ActionLink("Logout","Logout","Home")
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            @Html.ActionLink("Control Panel","ControlPanel","Home")
        </td>
    </tr>
    <tr>
        <td colspan="2">
            @RenderBody()
        </td>
    </tr>
</table>