<table style="width:100%;border:1px solid green">
    <tr>
        <td align="right">
            <span id="spanDateTime"></span>
        </td>
    </tr>
    <tr>
        <td>
            <img id="img1" src="~/Images/AdminBanner.png" style="width:100%;height:200px"/>
        </td>
    </tr>
    <tr>
        <td style="text-align:right;">
            <marquee bgcolor="green" direction="left"
                     height="25" width="100%" loop="300" scrollamount="7"
                     scrolldelay="100"><b style="color:white">Welcome to Administration</b></marquee>
        </td>
    </tr>
</table>
