
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VODUS</title>
</head>
<body>
    <h2 align="center">Here is Vodus job assessment - Belal Khanjar</h2>
    <div>
        <table style="border:none;width:100%">
            <tr>
                <th>
                    <p><a href="/Home/Task1" class="btn btn-primary btn-lg">Task1</a></p>
                </th>
                <th>
                    <p><a href="/Home/Task2" class="btn btn-primary btn-lg">Task2</a></p>
                </th>
                <th>
                    <p><a href="/Home/Task3" class="btn btn-primary btn-lg">Task3</a></p>
                </th>
            </tr>
        </table>
        <br />
        <br />
        <h3><a href="/Home" class="btn btn-primary btn-lg">Check out my WebSite here if you would like :)</a></h3>
    </div>
</body>
</html>
