
@{
    Layout = null;
}

@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Make Your CV</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap.min.css" />

    <!-- Owl Carousel -->
    <link type="text/css" rel="stylesheet" href="~/Content/owl.carousel.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/owl.theme.default.css" />

    <!-- Magnific Popup -->
    <link type="text/css" rel="stylesheet" href="~/Content/magnific-popup.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/Content/style.css" />

</head>

<body>
    <!-- Header -->
    <header id="home">
        <!-- Background Image -->
        <div class="bg-img" style="background-image: url('../images/Index/background11111.jpg');">
            <div class="overlay"></div>
        </div>
        <!-- /Background Image -->
        <!-- Nav -->
        <nav id="nav" class="navbar nav-transparent">
            <div class="container">

                <div class="navbar-header">
                    <!-- Logo -->
                    <div class="navbar-brand">
                        <a href="index">
                            <img class="logo" src="~/images/Index//logo.png" alt="logo">
                            <img class="logo-alt" src="~/images/Index//logo-alt.png" alt="logo">
                        </a>
                    </div>
                    <!-- /Logo -->
                    <!-- Collapse nav button -->
                    <div class="nav-collapse">
                        <span></span>
                    </div>
                    <!-- /Collapse nav button -->
                </div>

                <!--  Main navigation  -->
                <ul class="main-nav nav navbar-nav navbar-right">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#service">Services</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="/Home/login">Sign In</a></li>
                </ul>
                <!-- /Main navigation -->

            </div>
        </nav>
        <!-- /Nav -->
        <!-- home wrapper -->
        <div class="home-wrapper">
            <div class="container">
                <div class="row">

                    <!-- home content -->
                    <div class="col-md-10 col-md-offset-1">
                        <div class="home-content">
                            <h1 class="white-text">BUILD YOUR CV FAST AND FOR FREE</h1>
                            <p class="white-text">
                                WebsiteName was created to help you Generating your Creative and professional CV online for free
                            </p>
                            <button class="white-btn" onclick="javascript:document.location.href='@Url.Action("Registration","Home")'">Get Started!</button>
                            <button class="main-btn">Learn more</button>
                        </div>
                    </div>
                    <!-- /home content -->

                </div>
            </div>
        </div>
        <!-- /home wrapper -->

    </header>
    <!-- /Header -->
    <!-- About -->
    <div id="about" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">Welcome to Website</h2>
                </div>
                <!-- /Section header -->
                <!-- about -->
                <div class="col-md-4">
                    <div class="about">
                        <i class="fa fa-mobile"></i>
                        <h3>Easy To Use</h3>
                        <p>Easy for anyone to create their own CV with less efforts and with no time.</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
                <!-- /about -->
                <!-- about -->
                <div class="col-md-4">
                    <div class="about">
                        <i class="fa fa-magic"></i>
                        <h3>Professional Work</h3>
                        <p>we guarantee you to get a well designed and professional CV.</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
                <!-- /about -->
                <!-- about -->
                <div class="col-md-4">
                    <div class="about">
                        <i class="fa fa-money"></i>
                        <h3>Fully Free</h3>
                        <p>You will be able to Generate your CV and download it for free.</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
                <!-- /about -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /About -->
    <!-- Service -->
    <div id="service" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">What we Do</h2>
                </div>f
                <!-- /Section header -->
                <!-- service -->
                <div class="col-md-4 col-sm-6">
                    <div class="service">
                        <i class="fa fa fa-info"></i>
                        <h3>Gathering information </h3>
                        <p>we will take information from you will take information from you to we will take information from you to..</p>
                    </div>
                </div>
                <!-- /service -->
                <!-- service -->
                <div class="col-md-4 col-sm-6">
                    <div class="service">
                        <i class="fa fa-cogs"></i>
                        <h3>Organizing the your Data</h3>
                        <p>we will take the data were given by you and we will take the data were given by you and ...</p>
                    </div>
                </div>
                <!-- /service -->
                <!-- service -->
                <div class="col-md-4 col-sm-6">
                    <div class="service">
                        <i class="fa fa-magic"></i>
                        <h3>Great Tamplates</h3>
                        <p>We provide you by our collection of We provide you by our collection of provide you by our collection of We provide you by our collection of.</p>
                    </div>
                </div>
                <!-- /service -->
                <!-- service -->
                <div class="col-md-4 col-sm-6">
                    <div class="service">
                        <i class="fa fa-save"></i>
                        <h3>Saving your CV</h3>
                        <p>After getting your CV ready you can save the After getting your CV ready you can save the After getting your CV ready you can save the ...</p>
                    </div>
                </div>
                <!-- /service -->
                <!-- service -->
                <div class="col-md-4 col-sm-6">
                    <div class="service">
                        <i class="fa fa-pencil"></i>
                        <h3>Always modify</h3>
                        <p>You will have your CV saved in your Account so You will have your CV saved in your Account so You will have your CV saved in your Account so ...</p>
                    </div>
                </div>
                <!-- /service -->
                <!-- service -->
                <div class="col-md-4 col-sm-6">
                    <div class="service">
                        <i class="fa fa-share-alt"></i>
                        <h3>Email or Share</h3>
                        <p>We provide you the ability to send your We provide you the ability to send your ....</p>
                    </div>
                </div>
                <!-- /service -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Service -->
    <!-- Why Choose Us -->
    <div id="features" class="section md-padding bg-grey">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- why choose us content -->
                <div class="col-md-6">
                    <div class="section-header">
                        <h2 class="title">Why Choose Us</h2>
                    </div>
                    <p>Here you should write the something special about the website. Here you should write the something special about the website. Here you should write the something special about the website. Here you should write the something special about the website</p>
                    <div class="feature">
                        <i class="fa fa-check"></i>
                        <p>Reason number one, Reason number one.</p>
                    </div>
                    <div class="feature">
                        <i class="fa fa-check"></i>
                        <p>Reason number two, Reason number two.</p>
                    </div>
                    <div class="feature">
                        <i class="fa fa-check"></i>
                        <p>Reason number 3, Reason number 3.</p>
                    </div>
                    <div class="feature">
                        <i class="fa fa-check"></i>
                        <p>Reason number 4, Reason number one.Reason number 4, Reason number...</p>
                    </div>
                </div>
                <!-- /why choose us content -->
                <!-- About slider -->
                <div class="col-md-6">
                    <div id="about-slider" class="owl-carousel owl-theme">
                        <img class="img-responsive" src="~/images/Index/whyToChooseUs1.jpg" alt="">
                        <img class="img-responsive" src="~/images/Index/whyToChooseUs2.jpg" alt="">
                        <img class="img-responsive" src="~/images/Index/whyToChooseUs1.jpg" alt="">
                        <img class="img-responsive" src="~/images/Index/whyToChooseUs2.jpg" alt="">
                    </div>
                </div>
                <!-- /About slider -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Why Choose Us -->
    <!-- Contact -->
    <div id="contact" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section-header -->
                <div class="section-header text-center">
                    <h2 class="title">Get in touch</h2>
                </div>
                <!-- /Section-header -->
                <!-- contact -->
                <div class="col-sm-4">
                    <div class="contact">
                        @*<i class="fa fa-phone"></i>
                            <h3>Phone</h3>
                            <p>000-000-0000</p>*@
                    </div>
                </div>
                <!-- /contact -->
                <!-- contact -->
                <div class="col-sm-4">
                    <div class="contact">
                        <i class="fa fa-envelope"></i>
                        <h3>Email</h3>
                        <p>email@support.com</p>
                    </div>
                </div>
                <!-- /contact -->
                <!-- contact -->
                <div class="col-sm-4">
                    <div class="contact">
                        @*<i class="fa fa-map-marker"></i>
                            <h3>Address</h3>
                            <p>-----------</p>*@
                    </div>
                </div>
                <!-- /contact -->
                <!-- contact form -->
                <div class="col-md-8 col-md-offset-2">
                    <form class="contact-form">
                        <input type="text" class="input" placeholder="Name">
                        <input type="email" class="input" placeholder="Email">
                        <input type="text" class="input" placeholder="Subject">
                        <textarea class="input" placeholder="Message"></textarea>
                        <button class="main-btn">Send message</button>
                    </form>
                </div>
                <!-- /contact form -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Contact -->
    <!-- Footer -->
    <footer id="footer" class="sm-padding bg-dark">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <div class="col-md-12">

                    <!-- footer logo -->
                    <div class="footer-logo">
                        <a href="index"><img src="~/images/Index/logo-alt.png" alt="logo"></a>
                    </div>
                    <!-- /footer logo -->
                    <!-- footer follow -->
                    <ul class="footer-follow">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                    <!-- /footer follow -->
                    <!-- footer copyright -->
                    <div class="footer-copyright">
                        <p>Copyright © 2019. All Rights Reserved. Designed by <a href="https://ABC.com" target="_blank">ABC</a></p>
                    </div>
                    <!-- /footer copyright -->

                </div>

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </footer>
    <!-- /Footer -->
    <!-- Back to top -->
    <div id="back-to-top"></div>
    <!-- /Back to top -->
    <!-- Preloader -->
    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- /Preloader -->
    <!-- jQuery Plugins -->


</body>

</html>

<script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Scripts/owl.carousel.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="~/Scripts/main.js"></script>