
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")

   <script type="text/javascript">
      
   </script>

    <link href="~/Content/themes/le-frog/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/themes/le-frog/theme.css" rel="stylesheet" />

   



    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../../images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../Content/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../fonts/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../css/util.css">
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
    <!--===============================================================================================-->
</head>
<body style="background-color: #999999;">


    @using (Html.BeginForm())
    {
        <div class="limiter">
            <div class="container-login100">
                <div class="login100-more" style="background-image: url('../images/Index/background11111.jpg');"></div>



                <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
                    <form class="login100-form validate-form">
                        <span class="login100-form-title p-b-59">
                            Sign In
                        </span>
                        @*///////////////////////////////////////////////////*@
                        <!--Error-->
                        @if (ViewBag.Status != null)
                        {
                            <b style="color:red">@ViewBag.Status</b>
                        }
                        <!--Resend Activation Mail-->
                        @if (ViewBag.Activation == 1)
                        {
                            <b>&nbsp;</b>
                            <a href="#" onclick="document.forms[1].submit();">Resent Activation Mail</a>
                        }
                        &nbsp;

                        @if (TempData["SendActivationMail"] != null)
                        {
                            <b style="color:green">Activation Mail has been sent successfully!!!</b>
                        }
                        @*////////////////////////////////////////////////////////////////*@

                        &nbsp;


                        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                            <span class="label-input100">Email</span>
                            <input id="emailAddress" class="input100" type="text" name="email" placeholder="Email addess...">
                            <span class="focus-input100"></span>
                        </div>


                        <div class="wrap-input100 validate-input" data-validate="Password is required">
                            <span class="label-input100">Password</span>
                            <input class="input100" type="text" name="pass" placeholder="*************">
                            <span class="focus-input100"></span>
                        </div>

                        <div style="padding-bottom:20px">
                            <a href="/Home/ForgetPassword" >Forget Password</a>
                        </div>

                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <div class="wrap-login100-form-btn">
                                    <button class="login100-form-btn">
                                        Log In
                                    </button>
                                </div>
                            </div>
                            <a href="/Home/Registration" class="dis-block txt1 hov1 p-r-0 p-t-0 p-b-0 p-l-0">
                                not a member?<br /> Sign Up
                                <i class="fa fa-long-arrow-right m-l-5"></i>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
    @using (Html.BeginForm("ActivationMail", "Home"))
    {

    }
    <!--===============================================================================================-->
    @*<script src="../Scripts/jquery-3.3.1.min.js"></script>*@
    <!--===============================================================================================-->
    @*<script src="../Scripts/js/bootstrap.min.js"></script>*@
    <!--===============================================================================================-->
    <script src="../../js/main.js"></script>

</body>
</html>

