<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CV - Edit</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- custome css -->
    <link rel="stylesheet" href="../../js/css/cv-edit.css">
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-md navCust shadow-sm bg-white">
        <a class="navbar-brand" href="#">
            <!-- <img src="" alt=""> -->
            logo here
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Upgrade to Premium <i class="fa fa-star-o" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Edit account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="cv_name py-md-5 py-2">
            <h1>CV name here</h1>
        </div>

        <div class="row">
            <div class="col-3 p-md-1 p-2">
                <ul class="nav nav-pills mb-3 bg-white p-3" id="sortable" role="tablist">
                    <li class="nav-item ui-icon ui-state-default">
                        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                        <a class="nav-link active" id="pills-basic-tab" data-toggle="pill" href="#pills-basic" role="tab" aria-controls="pills-basic" aria-selected="true">Basic information</a>
                    </li>
                    <li class="nav-item ui-icon ui-state-default">
                        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                        <a class="nav-link" id="pills-work-tab" data-toggle="pill" href="#pills-work" role="tab" aria-controls="pills-work" aria-selected="false">Work experience</a>
                    </li>
                    <li class="nav-item ui-icon ui-state-default">
                        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                        <a class="nav-link" id="pills-qualification-tab" data-toggle="pill" href="#pills-qualification" role="tab" aria-controls="pills-qualification" aria-selected="false">Qualification</a>
                    </li>
                    <li class="nav-item ui-icon ui-state-default">
                        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                        <a class="nav-link" id="pills-education-tab" data-toggle="pill" href="#pills-education" role="tab" aria-controls="pills-education" aria-selected="false">Education</a>
                    </li>
                    <li class="nav-item ui-icon ui-state-default">
                        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                        <a class="nav-link" id="pills-interest-tab" data-toggle="pill" href="#pills-interest" role="tab" aria-controls="pills-interest" aria-selected="false">Interests</a>
                    </li>
                    <li class="nav-item ui-icon ui-state-default">
                        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                        <a class="nav-link" id="pills-objectives-tab" data-toggle="pill" href="#pills-objectives" role="tab" aria-controls="pills-objectives" aria-selected="false">Objectives</a>
                    </li>
                    <li class="nav-item ui-icon ui-state-default">
                        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                        <a class="nav-link" id="pills-references-tab" data-toggle="pill" href="#pills-references" role="tab" aria-controls="pills-references" aria-selected="false">References</a>
                    </li>
                </ul>
            </div>
            <div class="col-9 p-md-1 p-2">
                <form action="">
                    <div class="tab-content bg-white p-3" id="pills-tabContent">
                        <!-- Basic information -->
                        <div class="tab-pane fade show active" id="pills-basic" role="tabpanel" aria-labelledby="pills-basic-tab">
                            <h4>Basic Information</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="full-name">Full Name</label>
                                        <input type="text" class="form-control" name="full-name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="emailAdd">Email Address</label>
                                        <input type="email" class="form-control" name="emailAdd">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="emailAdd">Phone number</label>
                                        <input type="email" class="form-control" name="phone">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="emailAdd">Website</label>
                                        <input type="text" class="form-control" name="website">
                                    </div>
                                </div>
                                <div class="divide"></div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="emailAdd">Address Line 1</label>
                                        <input type="text" class="form-control" name="addline1">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="emailAdd">Address Line 2</label>
                                        <input type="text" class="form-control" name="addline2">
                                    </div>
                                </div>
                                <div class="divide"></div>
                                <div class="col-md-10">
                                    <div class="d-flex justify-content-center p-2">
                                        <img class="upload-img" src="" alt="uploaded-image-here">
                                        <input type="file">
                                        <div class="d-flex justify-content-center align-items-center">
                                            <button class="btn btn-sm btn-success mx-1">Upload</button>
                                            <button class="btn btn-sm btn-secondary mx-1">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Work Experience -->
                        <div class="tab-pane fade" id="pills-work" role="tabpanel" aria-labelledby="pills-work-tab">
                            <h4>Work Experience</h4>
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="job-title">Job Title</label>
                                        <input type="text" class="form-control" name="job-title">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cmp-name">Company Name</label>
                                        <input type="text" class="form-control" name="cmp-name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="start-date">Start Date</label>
                                        <input type="Date" class="form-control" name="start-date">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="end-date">End Date</label>
                                        <input type="Date" class="form-control" name="end-date">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <textarea name="" id="" cols="30" rows="10"></textarea>
                                </div>
                            </div>
                            <a href="#" class="btn btn-secondary my-3">Delete</a>
                            <div class="divide"></div>
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="job-title">Job Title</label>
                                        <input type="text" class="form-control" name="job-title">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cmp-name">Company Name</label>
                                        <input type="text" class="form-control" name="cmp-name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="start-date">Start Date</label>
                                        <input type="Date" class="form-control" name="start-date">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="end-date">End Date</label>
                                        <input type="Date" class="form-control" name="end-date">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <textarea name="" id="" cols="30" rows="10"></textarea>
                                </div>
                            </div>
                            <a href="#" class="btn btn-secondary my-3">Delete</a>
                            <div class="divide"></div>
                            <a href="#" class="btn btn-success mb-2">Add</a>
                        </div>
                        <!-- Qualification -->
                        <div class="tab-pane fade" id="pills-qualification" role="tabpanel" aria-labelledby="pills-qualification-tab">
                            <h4>Qualification</h4>
                            <div>
                                <textarea name="" id="" cols="50" rows="20" placeholder="Example: Certified Public Accountant"></textarea>
                            </div>
                            <p class="hints">Certifications, Accreditation etc, that you have received</p>
                        </div>
                        <!-- Education -->
                        <div class="tab-pane fade" id="pills-education" role="tabpanel" aria-labelledby="pills-education-tab">
                            <h4>Education</h4>
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="job-title">Course name</label>
                                        <input type="text" class="form-control" name="job-title">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cmp-name">Institution Name</label>
                                        <input type="text" class="form-control" name="cmp-name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="start-date">Start Date</label>
                                        <input type="Date" class="form-control" name="start-date">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="end-date">End Date</label>
                                        <input type="Date" class="form-control" name="end-date">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <textarea name="" id="" cols="30" rows="10"></textarea>
                                </div>
                            </div>
                            <a href="#" class="btn btn-secondary my-3">Delete</a>
                            <div class="divide"></div>
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="job-title">Course name</label>
                                        <input type="text" class="form-control" name="job-title">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cmp-name">Institution Name</label>
                                        <input type="text" class="form-control" name="cmp-name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="start-date">Start Date</label>
                                        <input type="Date" class="form-control" name="start-date">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="end-date">End Date</label>
                                        <input type="Date" class="form-control" name="end-date">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <textarea name="" id="" cols="30" rows="10"></textarea>
                                </div>
                            </div>
                            <a href="#" class="btn btn-secondary my-3">Delete</a>
                            <div class="divide"></div>
                            <a href="#" class="btn btn-success mb-2">Add</a>
                        </div>
                        <!-- Interest -->
                        <div class="tab-pane fade" id="pills-interest" role="tabpanel" aria-labelledby="pills-interest-tab">
                            <h4>Interest</h4>
                            <div class="my-3">
                                <textarea name="" id="" cols="50" rows="20" placeholder="Music, Reading, Gardening"></textarea>
                            </div>
                            <div class="divide"></div>
                            <a href="#" class="btn btn-secondary my-2">Delete</a>
                        </div>
                        <!-- Objectives -->
                        <div class="tab-pane fade" id="pills-objectives" role="tabpanel" aria-labelledby="pills-objectives-tab">
                            <h4>Objectives</h4>
                            <div class="my-3">
                                <textarea name="" id="" cols="50" rows="20" placeholder="Example: Certified Public Accountant"></textarea>
                            </div>
                            <div class="divide"></div>
                            <a href="#" class="btn btn-secondary my-2">Delete</a>
                        </div>
                        <!-- References -->
                        <div class="tab-pane fade" id="pills-references" role="tabpanel" aria-labelledby="pills-references-tab">
                            <h4>References</h4>
                            <div class="my-3">
                                <textarea name="" id="" cols="50" rows="20" placeholder="Mr. Neo, President of Matrix corp.
Email: neo@neo-matrix.com
Phone: +1-234-5678"></textarea>
                            </div>
                            <div class="divide"></div>
                            <a href="#" class="btn btn-secondary my-2">Delete</a>
                        </div>
                    </div>
                    <div class="my-3 text-right">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <footer>
            <div class="mt-md-5 mt-3 pt-md-3 pt-2 bg-white">
                <div class="container">
                    <div class="row foot-ul mx-auto">
                        <div class="col-md-4">
                            <ul>
                                <li>About us</li>
                                <li>Contact us</li>
                                <li>Privacy Policy</li>
                                <li>Terms and services</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="social-links">
                                <li>
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Resume tips</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="../../js/js/plugin.js"></script>
        <script>
  $( function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  } );
        </script>
        <script src="../../tinymce/tinymce.min.js"></script>
        <script>
    tinymce.init(
                  {
                    selector:'textarea',
                    menubar:'false',
                    plugins:'lists placeholder',
                    toolbar: ' bullist numlist | bold underline'
                    }
                );
        </script>
</body>
</html>