
@{
    Layout = null;
}

@{
    ViewBag.Title = "MembersCorner";
}

<table width="100%" cellpadding="2" cellspacing="2" border="0">
    <tr>
        <td colspan="3">
            <b style="font-size:20px">Member's Corner</b>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            Select Any of the services below to take action or simply learn more.
        </td>
    </tr>
    <tr>
        <td width="5%"></td>
        <td width="5%">
            <img src="~/Images/MyAccount.gif" alt="MyAccount" />
        </td>
        <td>

            <a href="@Url.Action("MyAccount","Home")" class="link1" style="font-size:14px">My Account</a>
            <br />
            Review and edit the basics, like your name, logic information, and mailing address.
        </td>
    </tr>
    <tr>
        <td width="5%"></td>
        <td width="5%">
            <img src="~/Images/MyReminders.gif" alt="MyReminders" />
        </td>
        <td>
            <a href="@Url.Action("MyReminders","Home")" class="link1" style="font-size:14px">My Reminders</a>
            <br />
            add, view & Edit Your Reminders
        </td>
    </tr>
    <tr>
        <td width="5%"></td>
        <td width="5%">
            <img src="~/Images/facebook.jpg" alt="Facebook" />
        </td>
        <td>
            <a href="#" class="link1" style="font-size:14px">Connect to Facebook</a>
            <br />
            Link Your account to Facebook!
        </td>
    </tr>
    <tr>
        <td width="5%"></td>
        <td width="5%">
            <img src="~/Images/AddressBook.gif" alt="AddressBook" />
        </td>
        <td>
            <a href="#" class="link1" style="font-size:14px">Address Book</a>
            <br />
            Manage Your Address Book for all of your friends and family.
        </td>
    </tr>
    <tr>
        <td width="5%"></td>
        <td width="5%">
            <img src="~/Images/EventCalendar.gif" alt="EventCalender" />
        </td>
        <td>
            <a href="#" class="link1" style="font-size:14px">Birthday-Reminders Calender</a>
            <br />
            View and print a monthly calendar personalized with your reminders!
        </td>
    </tr>
    <tr>
        <td width="5%"></td>
        <td width="5%">
            <img src="~/Images/BirthdayRequester.gif" alt="BirthdayRequester" />
        </td>
        <td>
            <a href="#" class="link1" style="font-size:14px">Birthday Requester</a>
            <br />
            Ask Your friends and family to provide you thier birthday by sending them a birthday request!
        </td>
    </tr>
    <tr>
        <td width="5%"></td>
        <td width="5%">
            <img src="~/Images/GreetingCards.gif" alt="GreetingCards" />
        </td>
        <td>
            <a href="#" class="link1" style="font-size:14px">My favorite Greeting Cards</a>
            <br />
            Manage your favorit greeting cards collection
        </td>
    </tr>
    <tr>
        <td width="5%"></td>
        <td width="5%">
            <img src="~/Images/Preferences.gif" alt="Preferences" />
        </td>
        <td>
            <a href="#" class="link1" style="font-size:14px">My Reminder & Suggestion Preferences</a>
            <br />
            Indicate your preferences for your reminders like frequency and probable actions.
        </td>
    </tr>
    <tr>
        <td width="5%"></td>
        <td width="5%">
            <img src="~/Images/ImportExport.gif" alt="ImportExport" />
        </td>
        <td>
            <a href="#" class="link1" style="font-size:14px">Import/Export Utility</a>
            <br />
            Import your contacts from another address book or export your reminders to CSV, TXT and BigDates (.bds) formats
        </td>
    </tr>
    <tr>
        <td width="5%"></td>
        <td width="5%">
            <img src="~/Images/friends.gif" alt="Friends" />
        </td>
        <td>
            <a href="#" class="link1" style="font-size:14px">Share your Reminders</a>
            <br />
            Give your friends and family a quick start by sharing some of your reminders.
        </td>
    </tr>
    <tr>
        <td width="5%"></td>
        <td width="5%">
            <img src="~/Images/Copyreminders.gif" alt="CopyReminders" />
        </td>
        <td>
            <a href="#" class="link1" style="font-size:14px">Copy My Reminders</a>
            <br />
            Send your e-mail reminders to additional e-mail addresses
        </td>
    </tr>
    <tr>
        <td width="5%"></td>
        <td width="5%">
            <img src="~/Images/Cancelicon.gif" alt="Cancel" />
        </td>
        <td>
            <a href="#" class="link1" style="font-size:14px">Cancel Membership</a>
            <br />
            This Utility will cancel your membership with EventReminders.com.
        </td>
    </tr>
</table>