<style type="text/css">
    .menuLink {
        color: white;
        font-weight: bold;
        text-decoration: none;
        font-family: Tahoma;
        font-size: 12px;
    }

        .menuLink:hover {
            color: yellow;
        }
</style>


<table style="width:100%;border:1px solid green">

    <tr style="background-color: #029D03">
        <td colspan="2" align="center" class="menuLink">
            <a class="menuLink" href="/Home/Index">Home</a>
            <b style="color: white">|</b>
            <a class="menuLink" href="#">Memeber's Corner</a>
            <b style="color: white">|</b>
            <a class="menuLink" href="#">Contact Us</a>
            <b style="color: white">|</b>
            <a class="menuLink" href="#">FAQs</a>
            <b style="color: white">|</b>
            <a class="menuLink" href="#">Greetings Cards</a>
            <b style="color: white">|</b>
            <a class="menuLink" href="#">Free Ecards</a>
            <b style="color: white">|</b>
            <br />
            <a class="menuLink" href="#">About Us</a>
            <b style="color: white">|</b>
            <a class="menuLink" href="#">RSS Feeds</a>
            <b style="color: white">|</b>
            <a class="menuLink" href="/Home/Registration">How It Works</a>
            <b style="color: white">|</b>
            <a class="menuLink" href="#">Privacy Policy</a>
            <b style="color: white">|</b>
            <a class="menuLink" href="#">Links</a>
            <b style="color: white">|</b>
            <a class="menuLink" href="#">Gifts</a>

        </td>
    </tr>

    <tr>
        <td style="text-align:center">Copyright &copy; 2017 - 2018 Event - Reminder - All Rights Reserved.</td>
    </tr>

</table>
