

<table style="width:100%;border:1px solid green">
    <tr>
        <td align="right">
            <span id="spanDateTime"></span>
        </td>
    </tr>
    <tr>
        <td>
            <img id="img1" src="~/Images/alfarooq.jpeg" width="100%" height="200px" />
        </td>
    </tr>
    <tr>
        <td>
            <marquee height="40" direction="left" style="border:5px solid red;color:white;border-radius:20px"><h1 style="margin:0px">Welcom ^__^</h1></marquee>
        </td>
    </tr>
</table>
