<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
      <AppSettings>
        <add key="1" value=""/>
       <add key="2" value=""/>
     <add key="3" value=""/>
       <add key="4" value=""/>
         <add key="5" value=""/>
       <add key="6" value=""/>
     <add key="7" value=""/>
       <add key="8" value=""/>
        <add key="9" value=""/>
        <add key="10" value=""/>
        <add key="11" value=""/>
        <add key="12" value=""/>
        <add key="13" value=""/>
        <add key="14" value=""/>
        <add key="15" value=""/>
        <add key="16" value=""/>
        <add key="17" value=""/>
      
        </AppSettings>
    </startup>
</configuration>