@model IEnumerable<WebApplicationForHostingExample.Models.Student>

<p>
    @Html.ActionLink("Create", "Create")
</p>

<table>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Address)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Name)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Address)
        </td>

    </tr>
</table>